@model Sellopedia.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<!-- ============================ OLD PAGE ================================= -->
@*<h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Enter your email.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Email Link" />
            </div>
        </div>
    }*@

<!-- ============================ OLD PAGE END ================================= -->
<!-- ============================ NEW PAGE  ================================= -->

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid padding-bottom-3x mx-5 mb-2 mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="forgot">
                    <h2>Forgot your password ?</h2>
                    <br />
                    <p>Change your password in three easy steps. This will help you to secure your password !</p>
                    <ol class="list-unstyled">
                        <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
                        <li><span class="text-primary text-medium">2. </span>Our system will send you a temporary link</li>
                        <li><span class="text-primary text-medium">3. </span>Use the link to reset your password</li>
                    </ol>
                </div>
                <br />
                <form class="card mt-4">
                    <div class="card-footer">
                        <div class="form-group">
                            <label for="email-for-pass">Enter your email address</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            <small class="form-text text-muted">Enter the email address you used during the registration. Then we'll email a link to that address.</small>
                        </div>
                        <button type="submit" value="Email Link" class="btn btn-primary">Get New Password</button>
                        <button onclick="location.href='@Url.Action("Login", "Account")'" class="btn btn-primary" type="button">Back to Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

<!-- ============================ NEW PAGE END  ================================= -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
