@model Sellopedia.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<!-- ============================ OLD PAGE ================================= -->
@*@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Reset your password.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Reset" />
            </div>
        </div>
    }*@


<!-- ============================ OLD PAGE END ================================= -->
<!-- ============================ NEW PAGE ================================= -->

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            <header class="mb-4"><h4 class="card-title">Reset your Password</h4></header>
            <form>

                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Code)
                <div class="form-group">
                    <label>Email</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div> <!-- form-group end.// -->

                <div class="form-group">
                    <label>New Password</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div> <!-- form-group end.// -->

                <div class="form-group">
                    <label>Confirm password</label>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div> <!-- form-group end.// -->

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Reset </button>
                </div> <!-- form-group// -->
            </form>
        </article><!-- card-body.// -->
    </div> <!-- card.// -->
    <br>
    <br>

}


<!-- ============================ NEW PAGE END ================================= -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
