@model IEnumerable<Sellopedia.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/AdminTemplate/_Layout_Admin.cshtml";
    Page.Title = "Users";
}


@section head
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <style>
        tr {
            transition: all .2s linear;
        }

        tr:hover {
            box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
            transform: translate3D(0, -2px, 0);
        }
    </style>
}

<div class="container">
    <div class="row">
        <div id="filter-panel" class="collapse filter-panel">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline" role="form">
                        <!-- <div class="form-group">
                            <label class="filter-col" style="margin-right:0;" for="pref-perpage">Rows per page:</label>
                            <select id="pref-perpage" class="form-control">
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option selected="selected" value="10">10</option>
                            </select>
                        </div> <!-- form group [rows] -->
                        <div class="form-group">
                            <label class="filter-col" style="margin-right:0;" for="pref-search">Search:</label>
                            <div class="input-group border">
                                <input type="text" class="form-control border border-dark" id="search_text" placeholder="Search User">
                                <div class="input-group-append">
                                    <span class="input-group-text bg-transparent text-primary btn btn-dark disabled">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>
                            </div>
                        </div><!-- form group [search] -->
                        <div class="form-group row">
                            <div class="col">
                                <label class="filter-col" style="margin-right:0;" for="filterby">Filter by:</label>
                                <select id="filterby" class="form-control form-select">
                                    <option value="" selected disabled>Select filter</option>
                                    @*<option value="name">Name</option>*@
                                    <option value="gender">Gender</option>
                                    <option value="country">Country</option>
                                    <option value="accounttype">Account Type</option>
                                    <option value="whitelist">Whitelist</option>
                                </select>
                            </div>
                            <div class="col">
                                <label class="filter-col" style="margin-right:0;" for="orderby">Order by:</label>
                                <select id="orderby" class="form-control form-select">
                                    <option>Ascendent</option>
                                    <option>Descendent</option>
                                </select>
                            </div>
                        </div> <!-- form group [order by] -->
                        <div class="form-group">
                            <div class="checkbox" style="margin-left:10px; margin-right:10px;">
                                <label><input type="checkbox"> Remember parameters</label>
                            </div>
                            <button type="submit" class="btn btn-outline-info filter-col">
                                <span class="glyphicon glyphicon-record"></span> Apply
                            </button>
                            <button type="submit" id="clearFilters" class="btn btn-default text-dark filter-col">
                                Clear filters
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#filter-panel">
            <span class="glyphicon glyphicon-cog"></span> Advanced Search
        </button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <div class="table-responsive">
                <table class="table text-nowrap">
                    <thead>
                        <tr>
                            <th class="border-top-0"></th>
                            <th class="border-top-0">Name</th>
                            <th class="border-top-0">Gender</th>
                            <th class="border-top-0">Country</th>
                            <th class="border-top-0">City</th>
                            <th class="border-top-0">Type</th>
                            <th class="border-top-0">Ban</th>
                            <th class="border-top-0">Whitelist</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr data-name="@user.FirstName @user.LastName @user.UserName" data-gender="@user.Gender"
                                data-country="@user.Country" data-city="@user.City" data-accounttype="@user.AccountType"
                                data-whitelist="@user.IsWhiteListed">
                                <td>
                                    <img src="@user.ProfileImage" style="border-radius: 50%; width: 3rem; height: 3rem; object-fit: contain;" />
                                </td>
                                @if (user.AccountType == Sellopedia.Models.EnumerationsClass.AccountType.Particular)
                                {
                                    <td>@user.FirstName @user.LastName</td>
                                }
                                else
                                {
                                    <td>@user.UserName</td>
                                }
                                @if (user.AccountType == Sellopedia.Models.EnumerationsClass.AccountType.Particular)
                                {
                                    <td>@user.Gender</td>
                                }
                                else
                                {
                                    <td> - </td>
                                }
                                <td class="country">@user.Country</td>
                                <td class="city">@user.City</td>
                                <td>@user.AccountType</td>
                                <td>
                                    <a href="@Url.Action("EditValidity", new { id = user.Id })">
                                        <i class="fas fa-ban text-danger"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("EditWhiteListing", new { id = user.Id })">
                                        @if (!user.IsWhiteListed)
                                        {
                                            <i class="far fa-heart text-success"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-heart text-success"></i>
                                        }
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/Custom/AdvancedSearchAdmin.js">
    </script>
}